
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* header */
.header {
    background-color: #4CAF50;
    padding: 20px 0;
    color: white;
    text-align: center;
}

.logo{
    width: 75px;
    height: 75px;
    
}

.nav-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item{
    display: inline;
    margin-right: 50px;
}

.nav-item a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.nav-item:hover {
    text-decoration: underline;
}


/*hero-section*/

.hero-section {
    background-color: #98FB98; 
    color: white;
    text-align: center;
    padding: 100px 0;
}

.hero-container {
    display: flex;
}

.hero-img{
    width: 500px;
    height: 500px;
    
}

.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
}


.hero-text h1 {
    font-size: 50px;
    margin: 0;
    line-height: 1.2;
}

.hero-text p {
    font-size: 28px;
}


