
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* header */
.header {
    background-color: #4CAF50;
    padding: 20px 0;
    color: white;
    text-align: center;
}

.logo{
    width: 75px;
    height: 75px;
    
}

.nav-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item{
    display: inline;
    margin-right: 50px;
}

.nav-item a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.nav-item:hover {
    text-decoration: underline;
}


/*hero-section*/

.hero-section {
    background-color: #98FB98; 
    color: white;
    text-align: center;
    padding: 100px 0;
}

.hero-container {
    display: flex;
}

.hero-img{
    width: 500px;
    height: 500px;
    border-radius: 20%;
}

.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
}


.hero-text h1 {
    font-size: 50px;
    margin: 0;
    line-height: 1.2;
}

.hero-text p {
    font-size: 28px;
}


/*about-section*/
.about-section {
    background-color: white;
    padding: 50px 0;
    text-align: center;
}

.about-h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.about-p{
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 1.5;
    margin: 20px;
}


.florists {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.florist {
    text-align: center;
    border-radius: 10px;
    background-color: #e8f5e9;
    padding: 20px;
    margin: 10px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.florist:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.florist-img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 15px;
}

.florist-h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #4CAF50;
}

.florist-p {
    font-size: 18px;
    margin-bottom: 10px;
    color: #555;
    line-height: 1.4;
}

/* shop-section */

.shop-section{
    background-color: #98FB98; 
    text-align: center;
    padding: 100px 0;
}

.shop-h2{
    font-size: 40px;
    margin-bottom: 20px;
}

.slider{
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.slides{
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slides .slide {
    min-width: 50%;
    box-sizing: border-box;
}

.slide-img {
    width: 100%;
    height: auto;
}

.slide-h3 {
    font-size: 22px;
    margin-bottom: 20px;
    line-height: 1.2;
}

.slide-p{
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.2;
}

.navigation {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.navigation label {
    cursor: pointer;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: #ccc;
    border-radius: 50%;
    display: inline-block;
}

input[name="slider"] {
    display: none;
}

input[name="slider"]:nth-child(1):checked ~ .slides {
    transform: translateX(0);
}

input[name="slider"]:nth-child(2):checked ~ .slides {
    transform: translateX(-50%);
}

input[name="slider"]:nth-child(1):checked ~ .navigation label:nth-child(1),
input[name="slider"]:nth-child(2):checked ~ .navigation label:nth-child(2) {
    background: #4CAF50;
}